{% extends 'base.html' %}

{% block content %}
    <div class="row mt-4">
        <div class="col">
            <h2>Add Item</h2>
            <form action="add_todo/" method="POST" class="row row-cols-lg-auto g-3 align-items-center form-inline">
                <input type="text" name="content" class="form-control" placeholder="Type Here.">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <ul class="list-group">
                {% for todo_item in todo_items %}
                    <li class="list-group-item" aria-current="true">{{ todo_item.text }}</li>
                        <div class="float-right">
                            <form action="delete_todo/{{todo_item.id}}/" method="POST">
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </div>
                          {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

